.idea
database-data
media
*.pem
*.pyc
src/static_root/
*dev.py
*.sqlite3
./venv
.venv
./venv/
venv/
*.pid
src/media
./.vscode
.vscode
./.vscode/
debug.log

src/media_root

.webassets-cache/*
/static/.webassets-cache/*
/applications/django-web/src.sock